{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    block_course_modulenavigation
    @copyright  2019 Pimenko <contact@pimenko.com> <pimenko.com>
    @author     Sylvain Revenu | Nick Papoutsis | Bas Brands | Pimenko
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block-course_modulenavigation/coursenave

    Block template for navigation

    The purpose of this template is render a navigation block in course contexts. This template renders all the visible sections in a course.

    Classes required for JS:
    * none

    Context variables required for this template:
    * sections Array of course sections containing arrays of modules

    Example context (json):
    {
        "sections": [
            {
                "number":1,
                "title":"Topic 1",
                "url":{},
                "selected":false,
                "collapse":false,
                "onlytitles":false,
                "modules":[
                            {
                                "name":"Test",
                                "url":{},
                                "onclick":{},
                                "completeclass":"incomplete"
                            }
                        ],
                "hasmodules":true
            }
        ]
    }
}}

<div class="accordion" id="accordion">
    {{#sections}}
        <div class="accordion-item">
            <!-- Titre de la section -->
            <h2 class="accordion-header" id="heading{{number}}">
                <button class="accordion-button {{^selected}}collapsed{{/selected}}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse{{number}}" aria-expanded="{{selected}}"
                        aria-controls="collapse{{number}}">
                    {{{title}}}
                </button>
            </h2>
            <!-- Contenu de la section -->
            <div id="collapse{{number}}" class="accordion-collapse collapse {{#selected}}show{{/selected}}"
                 aria-labelledby="heading{{number}}" data-bs-parent="#accordion">
                <div class="accordion-body p-0">
                    <ul class="activities">
                        {{#modules}}
                            {{^issubsection}}
                                {{^onlytitles}}
                                    <li class="module {{completeclass}}">
                                        <!-- Nom du module avec completionon -->
                                        <a href="{{{url}}}" {{#onclick}}onclick="{{onclick}}"{{/onclick}} class="p-2 {{active}} {{#label}}modulenavigationlabel{{/label}}">
                                            {{#completionon}}
                                                <div class="completionbox">
                                                    <div class="completioncheck {{completeclass}}">
                                                    </div>
                                                </div>
                                            {{/completionon}}
                                            <div class="activityname">
                                                {{{name}}}
                                            </div>
                                        </a>
                                    </li>
                                {{/onlytitles}}
                            {{/issubsection}}
                            {{#issubsection}}
                                {{> block_course_modulenavigation/subsection }}
                            {{/issubsection}}
                        {{/modules}}
                    </ul>
                </div>
            </div>
        </div>
    {{/sections}}
</div>
