{{#subsection}}
    <div class="accordion-item m-1">
        <!-- En-tête de la section -->
        <h3 class="accordion-header" id="heading{{number}}">
            <button class="accordion-button {{^selected}}collapsed{{/selected}}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{number}}" aria-expanded="{{selected}}"
                    aria-controls="collapse{{number}}">
                {{{title}}}
            </button>
        </h3>
        <!-- Contenu de la section -->
        <div id="collapse{{number}}"
             class="accordion-collapse collapse {{#selected}}show{{/selected}}"
             aria-labelledby="heading{{number}}">
            <div class="accordion-body p-0">
                <ul class="activities">
                    {{#modules}}
                        {{^onlytitles}}
                            <li class="module {{completeclass}}">
                                <!-- Nom du module avec completionon -->
                                <a href="{{{url}}}" {{#onclick}}onclick="{{onclick}}"{{/onclick}} class="p-2 {{active}} {{#label}}modulenavigationlabel{{/label}}">
                                    {{#completionon}}
                                        <div class="completionbox">
                                            <div class="completioncheck {{completeclass}}">
                                            </div>
                                        </div>
                                    {{/completionon}}
                                    <div class="activityname">
                                        {{{name}}}
                                    </div>
                                </a>
                            </li>
                        {{/onlytitles}}
                    {{/modules}}
                </ul>
            </div>
        </div>
    </div>
{{/subsection}}
