{{#subsection}}
    <div class="section section-default m-1">
        <!-- En-tête de la section -->
        <h3 class="accordion-header" role="tab" id="heading{{number}}">
            <button class="accordion-button {{^selected}}collapsed{{/selected}}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{number}}" aria-expanded="{{selected}}"
                    aria-controls="collapse{{number}}">
                {{{title}}}
            </button>
        </h3>
        <!-- Contenu de la section -->
        <div id="collapse{{number}}"
             class="section-collapse accordion-collapse collapse {{#selected}}show{{/selected}}"
             role="tabpanel"
             aria-labelledby="heading{{number}}">
            <div class="section-body">
                <ul class="activities list-group">
                    {{#modules}}
                        {{^onlytitles}}
                            <li>
                                <a href="{{{url}}}" class="{{active}} {{#label}}modulenavigationlabel{{/label}}"
                                   {{#onclick}}onclick="{{onclick}}"{{/onclick}}>
                                    {{#completionon}}
                                        <div class="completionbox">
                                            <div class="completioncheck {{completeclass}}">
                                            </div>
                                        </div>
                                    {{/completionon}}
                                    <div class="activityname">
                                        {{{name}}}
                                    </div>
                                </a>
                            </li>
                        {{/onlytitles}}
                    {{/modules}}
                </ul>
            </div>
        </div>
    </div>
{{/subsection}}
